:root {
    --brand-color: #434445;
    --side-color: #2e2f42;
    --third-color: #404bbf;
}
body{
font-family: 'Roboto', sans-serif;
color: var(--brand-color);
background-color: #FFFFFF;
}
a{
    text-decoration: none;
}

.link-main{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;    
}
.link{
    text-decoration: none;
}
.second-logo{
    color: var(--side-color);
}
.footer-second-logo{
    color: #F4F4FD;
}
.list{
    list-style: none;
}
.link-main-li{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}
.adress{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}
.adress:hover{
    color: var(--third-color);
}
.adress:focus{
    color: var(--third-color);
}
.first-section{
    background-color: var(--side-color);
}
.first-h{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.button{
    background-color: #4d5ae5;
    font-family: Roboto sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}
.button:hover{
    background-color: var(--third-color);
}
.button:focus{
    background-color: var(--third-color);
}
.second-section{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--side-color);
}
.second-section-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}
.wwd{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--side-color);
}
.four-sec{
    background-color: #F4F4FD
}
.team{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--side-color);
}
.team-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}
.footer{
    background-color: var(--side-color);
}
.white-bg{
    background-color: #FFFFFF;
}
/* Portfiloi */
.button-portfolio{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;


}